<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title doctor lazuta
        link(rel="icon" type="image/x-icon" href="favicon.ico")
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css' integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2' crossorigin='anonymous')
        link(rel="stylesheet", href='https://unpkg.com/swiper/swiper-bundle.css')
        link(rel="stylesheet", href="./css/main.css")
    
    body
        include ./parts/header.pug
        include ./parts/subheader.pug
        include ./parts/about.pug
        include ./parts/slider.pug
        include ./parts/course.pug
        include ./parts/programm.pug
        include ./parts/bonuses.pug
        include ./parts/reviews.pug
        include ./parts/footer.pug
        include ./parts/alert.pug

        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js' integrity='sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s' crossorigin='anonymous')
        script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
        script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
        script(src="./js/main.js?v1")

