.about(id="about")
    .about-img
        img.about-img-1.mobile-hide(src="./../../img/about/vector1.svg", alt="")
        img.about-img-2.mobile-hide(src="./../../img/about/vector2.svg", alt="")
        img.about-img-3.mobile-hide(src="./../../img/about/vector3.svg", alt="")
        img.about-img-1.mobile-show(src="./../../img/about/vector1.svg", alt="")
        img.about-img-2.mobile-show(src="./../../img/about/vector2.svg", alt="")
        img.about-img-3.mobile-show(src="./../../img/about/vector3.svg", alt="")
    .container
        .row
            .col
                .about-content
                    .row
                        .col-lg-7.col-12.about-top
                            .about-top-item
                                p.about-top-item-bold 6
                                p мощных блоков информации
                            .about-top-item
                                p.about-top-item-bold 12
                                span чек-листов в виде бонусов
                            .about-top-item
                                img(src="./../../img/about/gift.svg", alt="")
                                p тренажер “Яйцо” в подарок
                    .row
                        .col-lg-6.col-8.about-bottom
                            .about-bottom-text.mobile-show
                                .about-bottom-text-subtitle
                                    p.subtitle-pink — О преподавателе
                                .about-bottom-text-title
                                    p.title Почему мне доверяют
                                .about-bottom-text-skills
                            .about-bottom-img
                                img.about-bottom-doctor.mobile-hide(src="./../../img/about/about_img.png", alt="")
                                img.about-bottom-border.mobile-hide(src="./../../img/about/border.png", alt="")
                                img.about-bottom-doctor.mobile-show(src="./../../img/about/about_img_mobile.png", alt="")
                                img.about-bottom-border.mobile-show(src="./../../img/about/border_mobile.svg", alt="")
                        .col-lg-6
                            .about-bottom-text
                                .about-bottom-text-subtitle.mobile-hide
                                    p.subtitle-pink — О преподавателе
                                .about-bottom-text-title.mobile-hide
                                    p.title Почему мне доверяют
                                .about-bottom-text-skills
                                    .about-bottom-text-skills-item
                                        .about-bottom-text-skills-item-img
                                            img(src="./../../img/about/line.png", alt="")
                                        .about-bottom-text-skills-item-text
                                            p Врач акушер-гинеколог 1-ой категории
                                    .about-bottom-text-skills-item
                                        .about-bottom-text-skills-item-img
                                            img(src="./../../img/about/line.png", alt="")
                                        .about-bottom-text-skills-item-text
                                            p Заведующая отделения
                                    .about-bottom-text-skills-item
                                        .about-bottom-text-skills-item-img
                                            img(src="./../../img/about/line.png", alt="")
                                        .about-bottom-text-skills-item-text
                                            p Врач терапевт, врач профпатолог
                                    .about-bottom-text-skills-item
                                        .about-bottom-text-skills-item-img
                                            img(src="./../../img/about/line.png", alt="")
                                        .about-bottom-text-skills-item-text
                                            span Ординатор кафедры «Акушерства и гинекологии» Гродненского государственного медицинского университета
                                    .about-bottom-text-skills-item
                                        .about-bottom-text-skills-item-img
                                            img(src="./../../img/about/line.png", alt="")
                                        .about-bottom-text-skills-item-text
                                            span Член общества эстетических гинекологов Республики Беларусь
                                    .about-bottom-text-skills-item
                                        .about-bottom-text-skills-item-img
                                            img(src="./../../img/about/line.png", alt="")
                                        .about-bottom-text-skills-item-text
                                            p Инструктор по интимному фитнесу
                                    .about-bottom-text-skills-item
                                        .about-bottom-text-skills-item-img
                                            img(src="./../../img/about/line.png", alt="")
                                        .about-bottom-text-skills-item-text
                                            p Эксперт по сексуальному здоровью
                                .about-bottom-text-list
                                    .about-bottom-text-list-item
                                        p.bold 10+
                                        p.italic Лет врачебной<br>практики
                                    .about-bottom-text-list-item
                                        p.bold 97%
                                        p.italic Рекомендуют меня<br>своим близким 
