.alert-page
    .alert-page-shadow.bury
    .alert-page-content.bury
        .container
            .row
                .col
                    .alert-page-content-block
                        .alert-page-content-block-img
                            img.mobile-show(src="./../../img/mobile/alert/alert_img.png", alt="")
                            img.mobile-hide(src="./../../img/mobile/alert/alert_img_desctop.png", alt="")
                        .alert-page-content-close.alert-toggle
                            img(src="./../../img/mobile/order_close.svg", alt="")
                        .alert-page-content-block-box
                            .alert-page-content-block-box-title
                                p Для записи на онлайн курс необходимо:
                            .alert-page-content-block-box-steps
                                .alert-page-content-block-box-item
                                    .alert-page-content-block-box-item-title
                                        p Шаг 1
                                    .alert-page-content-block-box-item-text
                                        p Оплата курсов по интимному фитнесу производится на карту 
                                        p <b>Реквизиты</b>
                                        p 5470870042403457<br>01/22<br>Беларусбанк
                                img.mobile-hide.alert-page-arrow(src="./../../img/mobile/alert/arrow.svg", alt="")
                                .alert-page-content-block-box-item
                                    .alert-page-content-block-box-item-title
                                        p Шаг 2
                                    .alert-page-content-block-box-item-text
                                        p После оплаты прикрепите скрин в личных сообщениях  
                                        .telegram
                                            a(href="tel:+375297810586") Telegram
                                img.mobile-hide.alert-page-arrow(src="./../../img/mobile/alert/arrow.svg", alt="")
                                .alert-page-content-block-box-item
                                    .alert-page-content-block-box-item-title
                                        p Шаг 3
                                    .alert-page-content-block-box-item-text
                                        p После этого вы будете добавлены в группу
                            .alert-page-content-block-box-bottom
                                p Остались вопросы? Свяжитесь в социальных сетях
                                .alert-page-content-block-box-social
                                        .header-right-social-item
                                            a(href="tel:+375297810586")
                                                img(src="./../../img/telegram_logo.svg", alt="")
                                        .header-right-social-item
                                            a(href="https://www.instagram.com/doctor_lazuta/" target="_blank")
                                                img(src="./../../img/insta_logo.svg", alt="")
                            .alert-page-content-block-box-link
                                span Обязательно ознакомьтесь 
                                    a.go-to-flag(href="#contraindications" target="_blank") с противопоказаниями на сайте 



