.bonuses(id="bonuses")
    img.vector1(src="./../../img/bonuses/vector1.png", alt="")
    img.vector2(src="./../../img/bonuses/vector2.png", alt="")
    img.logo(src="./../../img/bonuses/logo.png", alt="")
    .container
        .row
            .col
                .bonuses-subtitle
                    p.subtitle-pink — Участникам
                .bonuses-title
                    p.title Бонусы  и подарки
                .row
                    .col-lg-5.bonuses-box
                        img.gift(src="./../../img/bonuses/gift.png", alt="")
                        .bonuses-box-title
                            p Тренажер для интимных<br>мышц “Яйцо”
                        .bonuses-box-left
                            p Сразу после оплаты курса вы забираете тренажер совершенно бесплатно
                            p Тренажёр разработан врачом акушер гинекологом идеально подходящий под изгибы вашего интимного места
                            img(src="./../../img/bonuses/egg.png", alt="")
                            p Экологически безопасен
                            p Ещё древние гейши использовали форму яйца для тренировки интимных мышц и именно гейши были самыми искусными и идеальными любовницами в мире.
                    .col-lg-5.offset-lg-1.bonuses-box
                        img.shits(src="./../../img/bonuses/shits.png", alt="")
                        .bonuses-box-title
                            p 12 Чек-листов от<br>Доктора Лазуты
                        .bonuses-box-right
                            p Получите 12 чек-листов по уходу за здоровьем. 
                            p Тщательно подобранная и проверенная специалистом информация бережно собрана для Вас в одном месте
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                a.download-item(href="./../../img/Подготовка_к_беременности_Весь_комплекс_для_вас_и_вашего_партнера.pdf" download)  Подготовка к беременности. Весь комплекс для вас и вашего партнера
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                a.download-item(href="./../../img/Диета при молочнице.pdf" download) Диета при молочнице
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                a.download-item(href="./../../img/Какие_гормоны_сдать_если_не_хочется_секса.pdf" download) Какие гормоны сдать если не хочется секса
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                p.check-list-item Ежегодный check-up женского здоровья 
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                p.check-list-item Питание, секс и афродизиаки 
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                p.check-list-item Чек лист по ароматерапии 
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                p.check-list-item Обзор лубрикантов для секса 
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                span.check-list-item Польза спермы - взгляд гинеколога и косметолога 
                                    a.check-list-linck(href="https://www.instagram.com/doctor_dermatolog_liliyalazuta/" target="_blank") @doctor_dermatolog_liliyalazuta
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                p.check-list-item Мастурбация вред или польза?
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                p.check-list-item Безопасный секс-советы в выборе презервативов
                            .course-bottom-text-item
                                img(src="./../../img/about/line.png", alt="")
                                p.check-list-item Минет по новому
                            .course-bottom-text-item
                                .img
                                    img(src="./../../img/about/line.png", alt="")
                                p.check-list-item Справка для секса — какие анализы сдать,<br>когда появился новый партнёр
        .row        
            .col
                .bonuses-cost(id="cost")
                    .bonuses-cost-title
                        p Стоимость онлайн курса<br>100 бел. руб 
                    .bonuses-cost-subtitle
                        p Обучение проводит единственный в Беларуси инструктор по интимному<br>фитнесу — практикующий врач акушер-гинеколог
                    img.carts(src="./../../img/bonuses/carts.png", alt="")
                    .row
                        .bonuses-cost-group.col
                            .bonuses-cost-group-left.alert-open.alert-toggle
                                .subheader-top-button-slice1.rose1
                                .subheader-top-button-slice2
                                .subheader-top-button.rose
                                    p Записаться
                                    img(src="./../../img/arrow_btn.svg", alt="")
                            .bonuses-cost-group-right
                                .subheader-top-start
                                    .subheader-top-start-img
                                        img(src="./../../img/megaphone.png", alt="")
                                    .subheader-top-start-text
                                        p Старт нового потока
                                        p <strong>8 февраля 2021 года</strong>
        .row
            .col
                .row
                    .col-lg-4.offset-lg-3
                        .contraindications(id='contraindications')
                            .contraindications-subtitle
                                p.subtitle-pink — Внимание
                            .contraindications-title
                                p.title Противопоказания
                            .contraindications-item
                                .course-bottom-text-item
                                    img(src="./../../img/about/line.png", alt="")
                                    p Беременность 2-3 триместры 
                                .course-bottom-text-item
                                    img(src="./../../img/about/line.png", alt="")
                                    p Новообразования: полипы, миомы, кисты - после консультации гинеколога
                                .course-bottom-text-item
                                    img(src="./../../img/about/line.png", alt="")
                                    p Новообразования дыхательной системы
                                .course-bottom-text-item
                                    img(src="./../../img/about/line.png", alt="")
                                    p Воспалительные процессы в активной форме
                                .course-bottom-text-item
                                    img(src="./../../img/about/line.png", alt="")
                                    p Возраст до 18 лет
                                .course-bottom-text-item
                                    img(src="./../../img/about/line.png", alt="")
                                    p Эндометриоз под наблюдением гинеколога
