.course(id="courses")
    .course-wrapper.background-main
        .course-img 
            img.doctor-egg.mobile-hide(src="./../../img/course/course_img.png", alt="")
            img.bord.mobile-hide(src="./../../img/course/border.png", alt="")
            img.doctor-egg.mobile-show(src="./../../img/course/course_img_mobile.png", alt="")
            img.bord.mobile-show(src="./../../img/course/border_mobile.svg", alt="")
        .container
            .row
                .col-lg-6.course-top
                    .course-top-subtitle
                        p.subtitle — О интимном фитнесе
                    .course-top-title
                        p.title Что это такое?<br>Какие проблемы<br>решает?
                    .course-top-text
                        p Интимный фитнес - это комплекс упражнений,<br>предназначенный для укрепления интимных мышц
                        p Интимным фитнесом можно заниматься дома с<br>хорошим опытным тренером, который не только<br>покажет правильную технику, но и<br>проконтролирует эффективность выполнения<br>упражнений.
            .row    
                .col-lg-6.course-bottom
                    .course-bottom-title
                        p.course-bottom-title Авторский курс по интимному фитнесу поможет Вам
                    .course-bottom-text
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Подготовиться к беременности: легкие роды, быстрое восстановление
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Нормализовать менструальный цикл, облегчить ПМС
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Избавиться от воздуха «там» во время секса
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Повысить либидо
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Скорректировать вагинальные объемы
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Увеличить лубрикацию - избавиться от сухости и дискомфорта
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Восстановить чувствительность
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Избавиться от хронических молочниц, циститов и геморроя
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Решить проблемы с недержанием мочи
                        .course-bottom-text-item
                            img(src="./../../img/about/line.png", alt="")
                            p Управлять своей возбудимостью
.course-result
    img.course-result-vector-top.mobile-show(src="./../../img/course/vector_mobile.svg", alt="")
    img.course-result-vector-bottom.mobile-show(src="./../../img/course/vector_mobile1.svg", alt="")
    .container
        .row
            .col-lg-6
                img.mobile-hide(src="./../../img/course/result.png", alt="")
                img.bord.mobile-hide(src="./../../img/course/border1.png", alt="")
            .col-lg-6.course-result-text
                .course-result-text-subtitle
                    p.subtitle-pink — Результат
                .course-result-text-title
                    p.title Что дает курс
                .course-result-text-item
                    .pair
                        .box
                            img(src="./../../img/course/one.png", alt="")
                        p Уверенность<br>в себе
                    .pair
                        .box
                            img(src="./../../img/course/two.png", alt="")
                        p Чувство<br>легкости
                .course-result-text-item
                    .pair
                        .box
                            img(src="./../../img/course/three.png", alt="")
                        p Интимное<br>здоровье
                    .pair
                        .box
                            img(src="./../../img/course/foure.png", alt="")
                        p Удовольствие<br>в сексе
                .course-result-text-item
                    .pair
                        .box
                            img(src="./../../img/course/five.png", alt="")
                        p Гормональный<br>баланс
                    .pair
                        .box
                            img(src="./../../img/course/six.png", alt="")
                        p Женское<br>здоровье
                .course-result-text-block
                    .course-result-text-block-title
                        p Кем вы выйдите после?
                    .course-bottom-text-item
                        img(src="./../../img/about/line.png", alt="")
                        p Энергичной
                    .course-bottom-text-item
                        img(src="./../../img/about/line.png", alt="")
                        p Возбудимой
                    .course-bottom-text-item
                        img(src="./../../img/about/line.png", alt="")
                        p Сексуальной
                    .course-bottom-text-item
                        img(src="./../../img/about/line.png", alt="")
                        p Женственной
                    .course-bottom-text-item
                        img(src="./../../img/about/line.png", alt="")
                        p Умиротворенной
                .course-result-text-img
                    img.mobile-show(src="./../../img/course/result_mobile.png", alt="")
                    img.bort.mobile-show(src="./../../img/course/border1_mobile.png", alt="")

