.footer
    .container
        .row
            .col
                .footer-block 
                    .footer-left
                        .footer-left-logo
                            img(src="./../../img/logo1.svg", alt="логотип в виде надписи 'LazMed'")
                        .footer-left-menu
                            .row
                                .col-12.string
                                    .footer-menu-item
                                        a(href="#about") O коуче
                                    .footer-menu-item
                                        a(href="#courses") О курсах
                                    .footer-menu-item
                                        a(href="#bonuses") Бонусы
                                    //- .col-12.string
                                    .footer-menu-item
                                        a(href="#cost") Стоимость
                                    .footer-menu-item
                                        a(href="#contraindications") Противопоказания
                                    .footer-menu-item
                                        a(href="#reviews") Отзывы
                        .footer-right.col-12
                            p УНП 591942709<br>Криштопович А.Н