.header
    .container
        .row
            .col
                .header-wrapper.mobile-hide
                    .row
                        .col-lg-6.header-left
                            .header-left-logo
                                img(src="./../../img/logo1.svg", alt="логотип в виде надписи 'LazMed'")
                                img(src="./../../img/doctor_lazuta1.svg", alt="")
                                
                            .header-left-menu
                                .header-menu-item
                                    a(href="#about") O коуче
                                .header-menu-item
                                    a(href="#courses") О курсах
                                .header-menu-item
                                    a(href="#bonuses") Бонусы
                                .header-menu-item
                                    a(href="#cost") Стоимость
                                .header-menu-item
                                    a(href="#contraindications") Противопоказания
                                .header-menu-item
                                    a(href="#reviews") Отзывы
                        .col-lg-6.header-right
                            .header-right-social
                                .header-right-social-item
                                    a(href="tel:+375297810586")
                                        img(src="./../../img/telegram_logo.svg", alt="")
                                .header-right-social-item
                                    a(href="https://www.instagram.com/doctor_lazuta/" target="_blank")
                                        img(src="./../../img/insta_logo.svg", alt="")
.header-mobile.mobile-show
    .container
        .row
            .col
                .header-mobile-top
                    .header-mobile-logo
                        img(src="./../../img/logo1.svg", alt="логотип в виде надписи 'LazMed'")
                        img(src="./../../img/doctor_lazuta1.svg", alt="")
                    .header-mobile-burger 
                        img(src="./../../img/mobile/menu_btn.svg", alt="")
.header-mobile-menu.background-second.bury
    img.img-menu-top(src="./../../img/mobile/vector_menu1.svg", alt="")
    img.img-menu-midle(src="./../../img/mobile/vector_menu2.svg", alt="")
    img.img-menu-bottom(src="./../../img/mobile/vector_menu3.svg", alt="")
    .container
        .row
            .col
                .header-mobile-menu-block
                    .header-mobile-menu-block-top
                        .header-mobile-logo
                            img(src="./../../img/logo1.svg", alt="логотип в виде надписи 'LazMed'")
                            img(src="./../../img/doctor_lazuta1.svg", alt="")
                        .header-mobile-burger
                            img(src="./../../img/mobile/menu_close.svg", alt="")
                    .header-mobile-menu-block-bottom
                        .header-mobile-menu-block-bottom-item
                            a(href="#about") O коуче 
                        .header-mobile-menu-block-bottom-item
                            a(href="#courses") О курсах
                        .header-mobile-menu-block-bottom-item
                            a(href="#bonuses") Бонусы
                        .header-mobile-menu-block-bottom-item
                            a(href="#cost") Стоимость
                        .header-mobile-menu-block-bottom-item
                            a(href="#contraindications") Противопоказания
                        .header-mobile-menu-block-bottom-item
                            a(href="#reviews") Отзывы
                    .header-mobile-menu-block-social
                        .header-right-social-item
                            a(href="#about")
                                img.left(src="./../../img/telegram_logo.svg", alt="")
                        .header-right-social-item
                            a(href="https://www.instagram.com/doctor_lazuta/")
                                img(src="./../../img/insta_logo.svg", alt="")








    //-                 .header-contact
    //-                     .header-contact-location
    //-                         p г.Гродно, ул. Калиновского 3, 1 этаж
    //-                     .header-contact-number
    //-                         a.link(href='tel:+375336223331')
    //-                             p +375 (33) 6223331
    //-             .header-mobile
    //-                 a.link(href='tel:+375336223331')
    //-                     p +375 (33) 6223331
    //-                 .menu-btn
    //-                     img.burger(src="./../../images/burger.svg", alt="")
    //-                     img.close.bury( src="./../../images/close.svg", alt="")
    //- .header-mobile-collapse.bury
    //-     img(src="./../../images/vector_m_menu.svg", alt="")
    //-     .container
    //-         .row
    //-             .col
    //-                 .header-mobile-location
    //-                     p г.Гродно,
    //-                     p ул. Калиновского 3, 1 этаж
    //-                 .header-mobile-menu   
    //-                     .header-mobile-about
    //-                         a(href="#about") О нас
    //-                     .header-mobile-service
    //-                         a(href="#services") Услуги
    //-                     .header-mobile-recomendation
    //-                         a(href="#recomendation") Домашний уход
    //-                     .header-mobile-contacts
    //-                         a(href="#map") Контакты 
