mixin service (title, valuesArray, imgSrc, price)
    .service-item.margin-default
        .row.service-row
            .col-lg-6
                h3=title
                p.service-price=price
            .col-lg-6
                .row.service-row.service-row-list
                    .col-6
                        each item in valuesArray
                            p.text-default=item
                    .col-6
                        .service-img
                            img(src=imgSrc, alt="")
mixin modules (title, info)
    .col-lg-4
        .programm-modules-block
            .programm-modules-block-title
                p=title
            .programm-modules-block-line
                img(src="./../../img/course/module.png", alt="")
            .programm-modules-block-info
                p=info

mixin serviceBottom (title, imgSrc, price)
    .service-item.margin-default
        .row.service-row
            .col-lg-9
                h3=title
                p.service-price=price
            .offset-6.col-sm-6.offset-lg-0.col-lg-3
                .service-img
                    img(src=imgSrc, alt="")
