include ./mixins.pug
.programm.background-main
    .container
        .row
            .col
                .programm-subtitle
                    p.subtitle — Программа курса
                .programm-title
                    p.title Что будем изучать?
                .programm-modules
                    .row
                        .col-lg-10.offset-lg-1
                            .row
                                +modules('1 модуль', 'Строение женской системы. Откуда появились проблемы' )
                                +modules('2 модуль', 'Тест на состояние ваших интимных мышц' )
                                +modules('3 модуль', 'Как наполняться женской сексуальной энергией' )
                                +modules('4 модуль', 'Практики на устранение ваших проблем' )
                                +modules('5 модуль', 'Тренировки с тренажером «яйцо»' )
                                +modules('6 модуль', 'Мантры и медитации на расслабление' )
        .row        
            .col
                .programm-cost
                    .bonuses-cost-title
                        p “ Вы станете магнитом<br>для мужчин 
                    .bonuses-cost-subtitle
                        p Обучение проводит единственный в Беларуси инструктор<br>по интимному фитнесу - практикующий врач акушер-гинеколог
                    img.programm-img(src="./../../img/programm.png", alt="")
                    .row
                        .bonuses-cost-group.col
                            .bonuses-cost-group-left.alert-open.alert-toggle
                                .subheader-top-button-slice1.rose1
                                .subheader-top-button-slice2
                                .subheader-top-button.rose
                                    p Записаться
                                    img(src="./../../img/arrow_btn.svg", alt="")
                            .bonuses-cost-group-right
                                .subheader-top-start
                                    .subheader-top-start-img
                                        img(src="./../../img/megaphone.png", alt="")
                                    .subheader-top-start-text
                                        p Старт нового потока
                                        p <strong>8 февраля 2021 года</strong>
