.reviews(id="reviews")
    img.vector1(src="./../../img/reviews/vector1.png", alt="")
    img.vector2(src="./../../img/reviews/vector2.png", alt="")
    .reviews-wrapper.background-main
        .container
            .row
                .col
                    .revies-subtitle
                        p.subtitle — Отзывы
                    .revies-title
                        p.title Что думают те, кто уже<br> прошел курс?
                    .reviews-content
                        .row
                            .col-lg-4
                                img(src="./../../img/reviews/review1.png", alt="")
                            .col-lg-4
                                img(src="./../../img/reviews/review2.png", alt="")
                            .col-lg-4
                                img(src="./../../img/reviews/review3.png", alt="")
            .row        
                .col
                    .reviews-wishes
                        .reviews-wishes-title
                            p Всем здоровья и либидо 
                        .reviews-wishes-content
                            .reviews-wishes-content-item
                                .reviews-wishes-content-item-img
                                    img(src="./../../img/reviews/line.png", alt="")
                                p 2 недели обучающих практик
                            .reviews-wishes-content-item
                                .reviews-wishes-content-item-img
                                    img(src="./../../img/reviews/line.png", alt="")
                                p 6 мощнейших блоков информации
                            .reviews-wishes-content-item
                                .reviews-wishes-content-item-img
                                    img(src="./../../img/reviews/line.png", alt="")
                                p 12 чек-листов в виде бонусов
                            .reviews-wishes-content-item
                                .reviews-wishes-content-item-img
                                    img(src="./../../img/reviews/line.png", alt="")
                                p Без физических нагрузок
                            .reviews-wishes-content-item
                                .reviews-wishes-content-item-img
                                    img(src="./../../img/reviews/line.png", alt="")
                                p Кураторство врача-гинеколога
                            .reviews-wishes-content-item
                                .reviews-wishes-content-item-img
                                    img(src="./../../img/reviews/line.png", alt="")
                                p Тренажер в подарок
                        img.doctor(src="./../../img/reviews/doctor1.png", alt="")
                        .row
                            .bonuses-cost-group.col
                                .bonuses-cost-group-left.alert-open.alert-toggle
                                    .subheader-top-button-slice1.rose1
                                    .subheader-top-button-slice2
                                    .subheader-top-button.rose
                                        p Записаться
                                        img(src="./../../img/arrow_btn.svg", alt="")
                                .bonuses-cost-group-right
                                    .subheader-top-start
                                        .subheader-top-start-img
                                            img(src="./../../img/megaphone.png", alt="")
                                        .subheader-top-start-text
                                            p Старт нового потока
                                            p <strong>8 февраля 2021 года</strong>
    .container
        .row
            .col
                .contacts
                    .row
                        .col-lg-6
                            .contacts-img
                                img(src="./../../img/reviews/phones.png", alt="")
                        .col-lg-6
                            .contacts-content
                                .contacts-content-subtitle
                                    p.subtitle-pink — Контакты
                                .contacts-content-title
                                    p.title Будем на связи
                                img.line2(src="./../../img/reviews/line2.png", alt="")
                                .reviews-wishes-content-item
                                    .reviews-wishes-content-item-img
                                        img(src="./../../img/reviews/line1.png", alt="")
                                    span Читайте полезные посты, следите за новостями в  
                                        a(href="https://www.instagram.com/doctor_lazuta/" target="_blank") Instagram
                                .reviews-wishes-content-item
                                    .reviews-wishes-content-item-img
                                        img(src="./../../img/reviews/line1.png", alt="")
                                    span Задавайте вопросы в 
                                        a(href="tel:+375297810586") Telegram 


                        
                        

