.slider
    .container
        .row
            .col
                .slider-text
                    .slider-text-subtitle
                        p.subtitle-pink — Квалификация
                    .slider-text-title
                        p.title Дипломы и<br>сертификаты
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="./../../img/diploms/diplom1.png", alt="")
                        .swiper-slide
                            img(src="./../../img/diploms/diplom2.png", alt="")
                        .swiper-slide
                            img(src="./../../img/diploms/diplom3.png", alt="")
                        .swiper-slide
                            img(src="./../../img/diploms/diplom4.png", alt="")
                        .swiper-slide
                            img(src="./../../img/diploms/diplom5.png", alt="")
                        .swiper-slide
                            img(src="./../../img/diploms/diplom6.png", alt="")
                    //- .swiper-pagination

                    //- .swiper-control
                    .swiper-button-prev
                    .swiper-scrollbar
                    
                    .swiper-button-next
                        img(src="./../../img/diploms/next.svg", alt="")
