.subheader.background-main
    .subheader-wrapper
        .subheader-img
            img.mobile-hide(src="./../../img/subheader_img.png", alt="")
            img.mobile-show(src="./../../img/subheader_img_mobile.png", alt="")
            img.bord.mobile-hide(src="./../../img/border.svg", alt="")
            img.bord.mobile-show(src="./../../img/border_mobile.svg", alt="")
        .container
            .row
                .col-7.subheader-top
                    .subheader-top-subtitle
                        p Онлайн
                    .subheader-top-title
                        h1 Курсы по интимному фитнесу
                    .subheader-top-text
                        p Измени свою жизнь за 5-7 минут в день под руководством опытного специалиста
                    .row
                        .col-lg-6.alert-open.alert-toggle
                            .subheader-top-button-slice1
                            .subheader-top-button-slice2
                            .subheader-top-button
                                p Записаться
                                img.mobile-hide(src="./../../img/arrow_btn.svg", alt="")
                                img.mobile-show(src="./../../img/arrow_btn_mobile.svg", alt="")
                        .col-lg-6
                            .subheader-top-start
                                .subheader-top-start-img
                                    img(src="./../../img/megaphone.png", alt="")
                                .subheader-top-start-text
                                    p Старт нового потока
                                    p <strong>8 февраля 2021 года</strong>
                            .subheader-top-lazuta
                                img(src="./../../img/line.svg", alt="")
                                .subheader-top-start-lazuta-text
                                    p <b>Лина Лазута</b>
                                    p Врач акушер-гинеколог 1-ой категории. Инструктор по интимному фитнесу





                






                //-     .description-img.col-lg-6
                //-         img#about(src="./../../images/dscrpt/foto-dscrpt-1.png", alt="")
                //-     .description-text.col-lg-6
                //-         .description-text-p
                //-             p.text-default Здесь Вам помогут не только выглядеть лучше, но и чувствовать себя лучше, легче и моложе. Вы будете успешны во всем , выглядеть хорошо и получать от этого удовольствие!
                //-         .description-text-h3.margin-default-left 
                //-             h3 Все процедуры выполняются только профессиональным врачом-дерматологом или косметологом.

                //- .row.description-second
                //-     .description-second-text.col-lg-5
                //-         .description-second-text-h3
                //-             h3 Основной принцип в нашей работе - работа на результат.
                //-         .description-second-text-p.margin-default-left 
                //-             p.text-default Клиент будет доверять только тому специалисту, который умеет поставитьправильный диагноз и назначить уход или лечение, которое дает ощутимое улучшение и выздоровление в самое ближайшее время.
                //-     .description-second-img.col-lg-5.offset-lg-2
                //-         img.img-dscrpt-gel(src="./../../images/dscrpt/foto-dscrpt-3.png", alt="")
                //-         img(src="./../../images/dscrpt/foto-dscrpt-2.png", alt="")
