.about {
    &-content {
        margin-bottom: 143px;
        @media(max-width: $mobileSize){
            margin-bottom: 40px;
        }
    }
    position: relative;
    &-img {
        & img {
            position: absolute;
            z-index: -1;
        }
        &-1 {
            top: 0;
            left: 0;
        }
        &-2 {
            top: 0;
            right: 0;
        }
        &-3 {
            top: 627px;
            right: 0;
        }
        @media(max-width: $mobileSize){
            &-1 {
                top: 0;
                left: 0;
            }
            &-2 {
                top: 0;
                right: 0;
            }
            &-3 {
                top: 627px;
                right: 0;
            }
        }
    }
    &-top {
        display: flex;
        margin: 61px 0 139px 0;
        @media(max-width: $mobileSize){
            flex-direction: column;
            margin: 0;
            position: absolute;
            top: -20px;
            
        }
        & > * {
            margin-right: 30px;
        }
        &-item {
            display: flex;
            align-items: center;
            position: relative;
            border: 1.5px solid transparent;
            background: #FFFAFA;
            background-clip: padding-box;
            padding: 10px;
            width: 160px;
            height: 92px;
            border-radius: 0px 0px 20px 0px;
            font-style: italic;
            font-weight: normal;
            font-size: 13px;
            line-height: 14px;
            display: flex;
            align-items: center;
            color: $colorBlack;
            & ::after {
                position: absolute;
                top: -1.5px; bottom: -1.5px;
                left: -1.5px; right: -1.5px;
                background: linear-gradient(280.39deg, #E5CB92 5.84%, #D1B369 50.06%, #F4E3AE 99.13%);
                content: '';
                z-index: -1;
                border-radius: 0px 0px 20px 0px;
                box-shadow: 0px 8px 22px -6px rgba(211, 203, 203, 0.12), 0px 14px 20px -7px rgba(168, 147, 147, 0.12);
            }
            @media (max-width: $mobileSize) {
                width: 100%;
                height: 54px;
                margin-bottom: 24px;
                font-size: 12px;
                line-height: 14px;
                padding: 0 16px;

            }

            
            // box-shadow: 0px 8px 22px -6px rgba(211, 203, 203, 0.12), 0px 14px 20px -7px rgba(168, 147, 147, 0.12);
            // border: 1.5px solid transparent;
            // border-image-slice: 30;
            // border-radius: 0px 0px 20px 0px;
            // padding: 24px 15px;
            // width: 160px;
            // height: 92px;

            // border-image-source: linear-gradient(280.39deg, #E5CB92 5.84%, #D1B369 50.06%, #F4E3AE 99.13%) !important;
            

            // @media(max-width: $mobileSize) {
            //     width: 100%;
            // }
            &-bold {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                // line-height: 78px;
                color: $colorPinck;
                margin-right: 8px;
                @media (max-width: $mobileSize) {
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 59px;
                }
            }
            & img {
                height: 56px;
                width: 56px;
                margin-right: 8px;
            }
        }
    }
    &-bottom {
        @media(max-width: $mobileSize){
            margin: 230px 0 20px 0;
        }
        &-img {
            position: relative;
        }
        &-border {
            position: absolute;
            top: -12px;
            left: 29px;
            @media(max-width: $mobileSize){
                top: 10px;
                left: 10px;
    
            }

        }
        &-doctor {
            border-radius: 0px 0px 80px 0px;
            @media(max-width: $mobileSize){
                border-radius: 0;
            }

        }
        &-text {
            margin-left: 62px;
            @media(max-width: $mobileSize){
                margin: 0;
            }
            &-skills {
                margin: 50px 0;
                @media(max-width: $mobileSize){
                    margin: 0;
                }
                & > * {
                    margin-bottom: 20px;
                }
                &-item {
                    display: flex;
                    &-img {
                        width: 20px;
                        margin-right: 10px;
                        & img {
                            margin-top: 8px;
                        }
                    }
                    &-text {
                        width: 350px;
                    }
                }
            }
            &-list {
                display: flex;
                margin-left: 30px;
                @media(max-width: $mobileSize){
                    margin-left: 0;
                }
               &-item {
                    margin-right: 36px;
                    @media(max-width: $mobileSize){
                        margin-right: 69px;
                    }
    
                    & .bold {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 50px;
                        color: #CD949A;
                        margin-bottom: 11px;
                    }
                    & .italic {
                        font-style: italic;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        color: $colorBlack;
                        opacity: 0.9;
                        @media(max-width: $mobileSize){
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
}
