.alert-page {
    &-shadow {
        z-index: 2;
        background: $colorBlack;
        opacity: 0.8;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        transition: 0.3s;
    }
    &-content {
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        transition: 0.3s;
        overflow: auto;
        &-block {
            background: #FFFAFA;
            margin: 126px 0;
            border-radius: 20px;
            padding: 15px 0 50px 0;
            @media (max-width: $mobileSize) {
                margin: 45px 0;
                border-radius: 10px;
                padding: 10px 0 25px 0;
            }
            &-img {
                position: absolute;
                bottom: 106px;
                right: -5px;
                @media (max-width: $mobileSize) {
                    bottom: 45px;
                    right: 15px;
                }
            }
            &-box {
                margin: 0 95px;
                @media (max-width: $mobileSize) {
                    margin: 0 25px;
                }
                &-steps {
                    display: flex;
                    @media (max-width: $mobileSize) {
                        flex-direction: column;
                    }
                }
                &-title {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 50px;
                    @media (max-width: $mobileSize) {
                        font-size: 24px;
                        line-height: 29px;
                    }
                }
                &-item {
                    width: 188px;
                    @media (max-width: $mobileSize) {
                        width: 100%;
                        border-bottom: 1px solid rgba(189, 131, 137, 0.1);
                    }
                    &-title{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 50px;
                        color: $colorPinck;
                        margin-top: 31px;
                        @media (max-width: $mobileSize) {
                            margin-top: 15px;
                            font-size: 24px;
                            line-height: 29px;
                        }
                    }
                    &-text {
                        font-style: italic;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        @media (max-width: $mobileSize) {
                            font-size: 12px;
                            line-height: 14px;
                        }
                        & > * {
                            margin: 20px 0;
                            @media (max-width: $mobileSize) {
                                margin: 10px 0;
                            }
                        }
                        & .telegram {
                            margin-bottom: 15p;
                            & a {
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 19px;
                                color: $colorPinck;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                & .alert-page-arrow {
                    margin-right: 63px;
                    height: 16px;
                    margin-top: 52px;
                }
                &-bottom {
                    margin-top: 60px;
                    @media (max-width: $mobileSize) {
                        margin-top: 20px;
                    }
                }
                &-social {
                    display: flex;
                    & > * {
                        margin: 10px 10px 30px 0;
                        @media (max-width: $mobileSize) {
                            margin: 22px 30px 29px 0;
                        }
                    }
                }
                &-link {
                    color: rgba(78, 69, 72, 0.6);
                    @media (max-width: $mobileSize) {
                        width: 159px;
                    }
                    & a {
                        color: rgba(78, 69, 72, 0.6);
                        font-size: 16px;
                        line-height: 19px;
                        text-decoration: underline;
                        @media (max-width: $mobileSize) {
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
        &-close {
            display: flex;
            justify-content: flex-end;
            height: 30px;
            margin-right: 15px;
            & :hover {
                cursor: pointer;
            }
            @media (max-width: $mobileSize) {
                height: 25px;
                margin-right: 10px;
            }
        }
    }
}

.bury {
    max-height: 0vh;
    overflow: hidden;
}