.bonuses {
    position: relative;
    & .vector1{
        position: absolute;
        top: 0;
        right: 0;
    }
    & .vector2{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    & .logo{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    padding-top: 327px;
    @media(max-width: $mobileSize){
        padding-top: 150px;
    }
    &-box {
        box-shadow: 0px 8px 22px -6px rgba(211, 203, 203, 0.12), 0px 14px 20px -7px rgba(168, 147, 147, 0.12);
        padding: 30px;
        border: 1.5px solid;
        border-image-source: linear-gradient(280.39deg, #E5CB92 5.84%, #D1B369 50.06%, #F4E3AE 99.13%);
        border-radius: 0px 0px 20px 0px;
        height: fit-content;
        & .gift{
            position: absolute;
            top: -17px;
            right: -42px;
            @media(max-width: $mobileSize){
                right: 0;
            }
        }
        & .shits{
            position: absolute;
            top: -41px;
            right: -64px;
            @media(max-width: $mobileSize){
                right: 0;
            }
        }
        &-title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: $colorBlack;
            opacity: 0.85;
            margin-bottom: 15px;
        }
        &-left{
            & :first-child {
                margin-bottom: 10px;
            }
            & :last-child {
                margin-top: 10px;
            }
            & img {
                margin: 15px 0;
            }
        }
        &-right{
            & > * {
                margin-bottom: 10px;
            }
        }
    }
    &-cost {
        margin: 120px 0;
        padding: 50px 126px 62px 65px;
        height: 407px;
        background: url(./../../img/bonuses/back1.png);
        border-radius: 40px;
        box-shadow: 0px 12px 35px -6px rgba(211, 203, 203, 0.12), 0px 15px 25px -7px rgba(168, 147, 147, 0.12);
        @media(max-width: $mobileSize){
            width: 305px;
            margin: 50px 0;
            padding: 10px 0;
            height: 407px;
        }
        &-title{
            font-family: Montserrat;
            font-style: italic;
            font-weight: bold;
            font-size: 48px;
            line-height: 59px;
            color: #403D46;
            @media(max-width: $mobileSize){
                font-size: 24px;
                line-height: 29px;
                margin-top: 40px;
            }
        }
        &-subtitle{
            font-family: Roboto;
            font-style: italic;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: $colorBlack;
            margin: 30px 0 37px 0;
            @media(max-width: $mobileSize){
                font-size: 14px;
                line-height: 16px;
                margin: 0;
            }
        }
        & .carts{
            position: absolute;
            top: 50px;
            right: -83px;
            @media(max-width: $mobileSize){
                top: 250px;
                right: 120px;
                width: 200px;
            }
        }
        &-group{
            display: flex;
            @media(max-width: $mobileSize){
                flex-direction: column;
                margin-left: 160px;

            }
            &-left {
                margin-right: 39px;
                width: 254px;
                @media(max-width: $mobileSize){
                    width: 140px;
                }
    
            }
        }
    }

}

.contraindications{
    margin-bottom: 130px;
    &-item{
        & > * {
            margin: 0 0 20px 15px;
        }
    }
}

.download-item{
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $colorPinck;
    text-decoration: underline;
    @media(max-width: $mobileSize){
        font-size: 12px;
        line-height: 14px;
    }
}

.check-list-item {
    color: rgba(88, 79, 82, 0.5);
}

.check-list-linck {
    color: rgba(88, 79, 82, 0.5);
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
}

.rose{
    background: radial-gradient(205.79% 847.12% at 52.01% 47.2%, rgba(249, 195, 200, 0.24) 0%, #EBBBC0 100%),
    linear-gradient(0deg, #CD949A, #CD949A);
}
.rose1{
    background: radial-gradient(145.5% 373.63% at 52.01% 47.2%, rgba(155, 81, 89, 0) 0%, #EBBBC0 100%),
    linear-gradient(0deg, #CC8088, #CC8088);
}