.course {
    height: 1185px;
    &-wrapper {
        position: absolute;
        width: 100%;
        // height: 1185px;
        @media(max-width: $mobileSize){
            height: 1229px;
        }
        }
    &-img{
        & img {
            position: absolute;
            top: 0;
            right: 0;
        }
        & .bord {
            top: 48px
        }
        @media(max-width: $mobileSize){
            & img {
                position: absolute;
                top: auto;
                bottom: 40px;
                right: 0;
            }
            & .bord {
                top: auto;
                bottom: 33px;
            }
        }
    }
    &-top {
        margin-top: 120px;
        @media(max-width: $mobileSize){
            margin-top: 40px;
        }
        &-text{
            margin-left: 96px;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #403D46;
            margin-bottom: 50px;
            @media(max-width: $mobileSize){
                margin: 0 0 20px 20px;
                font-size: 12px;
                line-height: 14px;
            }
            & > * {
                margin-bottom: 30px;
                @media(max-width: $mobileSize){
                    margin-bottom: 10px;
                }
            }
        }
    }
    &-bottom {
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
        border-radius: 0px 80px 0px 0px;
        padding: 0 0 30px 96px;
        margin-left: 20px;
        @media(max-width: $mobileSize){
            margin-right: 15px;
            margin-left: 0;
            padding: 0 0 0 20px;
        }
    &-title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: $colorBlack;
            opacity: 0.85;
            margin: 40px 0 30px 0;
            @media(max-width: $mobileSize){
                font-size: 16px;
                line-height: 20px;
                opacity: 1;
                margin-right: 30px;
            }
        }
        &-text {
            // height: 514px;
            @media(max-width: $mobileSize){
                margin: 0 23px 30px 0;
            }
            & > * {
                margin-bottom: 20px;
                @media(max-width: $mobileSize){
                    margin-bottom: 10px;
                }

            }
            &-item { 
                font-family: Roboto;
                font-style: italic;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #403D46;
                display: flex;
                @media(max-width: $mobileSize){
                    font-size: 12px;
                    line-height: 14px;    
                }
                & img {
                    margin: 8px 13px 0 0;
                    width: 15px;
                    height: 1px;
                }
            }
        }
    }
    &-result {
        position: relative;
        margin: 145px 0;
        @media(max-width: $mobileSize){
            margin: 50px 0;
        }
        &-vector {
            &-top {
                position: absolute;
                right: 0;
                top: 0;
            }
            &-bottom {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        & .bord {
            position: absolute;
            top: 28px;
            left: 41px;
        }
        &-text{
            padding-left: 62px;
            @media(max-width: $mobileSize){
                padding-left: 15px;
                margin-top: 50px;

            }
            &-item {
                display: flex;
                margin-bottom: 45px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #403D46;
                @media(max-width: $mobileSize){
                    font-size: 12px;
                    line-height: 14px;
                }
                & .pair {
                    display: flex;
                    width: 160px;
                    margin-left: 30px;
                    & .box {
                        width: 28px;
                        margin-right: 11px;
                    }
                }
            }
            &-block{
                padding: 40px 30px;
                background: #FFFFFF;
                box-shadow: 0px 12px 35px -6px rgba(211, 203, 203, 0.12), 0px 15px 25px -7px rgba(168, 147, 147, 0.12);
                border-radius: 0 80px;
                align-items: center;
                position: relative;
                border: 1.5px solid transparent;
                background-clip: padding-box;
                width: 381px;
                height: 314px;
                @media(max-width: $mobileSize){
                    border-radius: 40px 0;
                }

                & ::after {
                    position: absolute;
                    top: -1.5px; bottom: -1.5px;
                    left: -1.5px; right: -1.5px;
                    background: linear-gradient(280.39deg, #E5CB92 5.84%, #D1B369 50.06%, #F4E3AE 99.13%);
                    content: '';
                    z-index: -1;
                    border-radius: 0 80px;
                    box-shadow: 0px 8px 22px -6px rgba(211, 203, 203, 0.12), 0px 14px 20px -7px rgba(168, 147, 147, 0.12);
                    @media(max-width: $mobileSize){
                        border-radius: 40px 0;
    
                    }
    
                }
                @media(max-width: $mobileSize){
                    width: 100%;
                    height: fit-content;
                    padding: 30px 24px;
                    & > * {
                        margin-bottom: 10px;
                    }
    
                }
                & > * {
                    margin-bottom: 10px;
                }
                &-title {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    color: #3A3134;
                    // opacity: 0.85;
                    @media(max-width: $mobileSize){
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
            &-img {
                position: relative;
                margin: 20px 0 43px 0;
                & .bort {
                    position: absolute;
                    top: 15px;
                    left: 16px;
                }
            }
        }
    }
}






















// .service{
//     margin-bottom: 175px;
//     @media (max-width: $mobileSize) {
//         margin-bottom: 47px;
//     }
//     &-title {
//         text-align: center;
//         margin: 127px 0 60px 0;
//         @media (max-width: $mobileSize) {
//             margin: 39px 0 30px 0;
//         }
//     }
//     &-item {
//         padding: 30px 0;
//         border-bottom: 1px solid rgba(163, 182, 199, 0.3);
//         &:last-child {
//             border: none; 
//         }
//         @media (max-width: $mobileSize) {
//             padding: 20px 0;
//         }
//     }
//     &-img {
//         display: flex;
//         justify-content: flex-end;
//         @media (max-width: $mobileSize) {
//             justify-content: center;
//         }
//     }
//     &-row {
//         align-items: center;
//         @media (max-width: $mobileSize) {
//             align-items: end;
//             &-list {
//                 margin-top: 20px;
//                 & p {
//                     margin: 7px 0;
//                 }
//             }
//         }
//     }
//     &-price {
//         font-family: 'TenorSans';
//         font-style: normal;
//         font-weight: normal;
//         font-size: 16px;
//         color: $colorFont;
//         letter-spacing: 0.01em;
//         margin-top: 15px;
//         @media (max-width: $mobileSize) {
//             margin-top: 10px;
//         }
//     }
// }



