@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat'), url('./../fonts/Montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat'), url('./../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto'), url('./../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto'), url('./../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Loto';
    src: local('Loto'), local('Loto'), url('./../fonts/Loto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}