.footer {
  background: #F8EBEC;
  &-block {
  // display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // margin-t: 26px 0 15px 0;
  }
  &-left {
    display: flex;
    // @media(max-width: $mobileSize){
    //   flex-direction: column;
    // }
    
    &-menu {
      display: flex;
      align-items: flex-end;
      & > * {
      margin-left: 13px;
      }
    }
  }
  &-right{
    font-size: 12px;
    line-height: 14px;
    text-align: right; 
    color: $colorDarck;
    opacity: 0.6;
  }
}
// .string{
//   display: flex;
// }