.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  &-wrapper{
    margin: 10px 0 40px 0;
  }
  &-left {
    display: flex;
    align-items: center;
    height: 100%;
    &-menu {
      margin-top: 20px;
      display: flex;
      align-items: center;
      margin-left: 24px;
      & > * {
        margin-right: 13px;
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
    margin-top: 20px;
    &-social{
      display: flex;
      & > * {
        margin-right: 13px;
      }
    }
  }
  &-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
    }
    &-menu {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
      height: 100vh;
      max-height: 100vh;
      transition: 0.3s;
      & .img-menu-top {
        position: absolute;
        top: 0;
        left: 0;
      }
      & .img-menu-midle {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      & .img-menu-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &-block {
        &-top{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 5px;
        }
        &-bottom {
          margin: 50px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          &-item {
          margin-bottom: 20px;
            & a {
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              color: $colorDarck;
            }
          }
        }
      &-social {
        display: flex;
        justify-content: center;
        & > * {
          margin: 0 15px
        }
        & img {
          width: 40px;
        }
      }

      }
    }
  }
}



// .header{
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
//   &-wrapper{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 40px 0;
//   }
//   &-mobile {
//     margin-top: 20px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     &-collapse{
//       background: #ffff;
//       display: flex;
//       height: 100vh;
//       max-height: 100vh;
//       transition: 0.3s;
//       img{
//         position: absolute;
//       }
//     }
//     &-location{
//       margin-bottom: 30px;
//     }
//     &-menu > *{
//       margin-bottom: 7px;
//     }
//     &-menu a{
//       font-size: 24px;
//       line-height: 28px;
//       letter-spacing: 0.01em;
//     }
//   }
//   &-menu{
//     display: flex;
//     & > *{
//       margin-right: 30px;
//     }
//   }
//   &-contact{
//     display: flex;
//     & > *{
//       margin-left: 30px;
//     }
//   }
// }

.bury {
  max-height: 0vh;
  overflow: hidden;
}

// .header-mobile{
//   display: none;
// }

// @media(max-width: $mobileSize){
//   .header-wrapper{
//     display: none;
//   }
//   .header-mobile{
//     display: flex;
//   }
// }
// .white{
//   background: #ffff;
// }