.programm {
    @media(max-width: $mobileSize){
    // margin-top: 350px;
    // padding: 250px 0 356px 0;

    }
    padding: 120px 0 356px 0;
    &-modules {
        &-block{
            background: #FFFFFF;
            border-radius: 0px 0px 0px 40px;
            padding: 30px;
            margin-bottom: 30px;
            &-title {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: $colorBlack;
                opacity: 0.85;
                margin-bottom: 5px;
            }
            &-info {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #403D46;
                margin-top: 10px;
            }
        }
    }
    &-cost {
        margin-top: 150px;
        padding: 50px 64px 0 375px;
        position: absolute;
        width: 1110px;
        border-radius: 40px;
        background: url(./../../img/bonuses/back1.png);
        & .programm-img {
            position: absolute;
            left: -20px;
            bottom: -30px;
            @media(max-width: $mobileSize){
                bottom: 0;
                left: 0;
                width: 200px;
            }
        }
        @media(max-width: $mobileSize){
            width: 305px;
            margin-top: 50px;
            padding: 0;
            height: 391px;
        }
    }
}
