.reviews {
    position: relative;

    & .vector1{
        position: absolute;
        bottom: 34px;
    }
    & .vector2{
        position: absolute;
        bottom: 34px;
        right: 0;
    }

    &-wrapper{
        height: 1039px;
        padding-top: 120px;
        @media(max-width: $mobileSize){
            padding-top: 20px;
            height: 1180px;
        }
    }
    
    &-wishes {
        z-index:1;
        margin: 150px 0;
        padding: 50px 397px 61px 61px;
        height: 520px;
        background: url(./../../img/reviews/back.png);
        border-radius: 40px;
        box-shadow: 0px 12px 35px -6px rgba(211, 203, 203, 0.12), 0px 15px 25px -7px rgba(168, 147, 147, 0.12);
        @media(max-width: $mobileSize){
            margin: 50px 0;
            padding: 40px 0;
            height: 520px;
        }
        &-content{
            margin: 30px 0;
            @media(max-width: $mobileSize){
                margin: 5px 0;
            }

            &-item {
                font-family: Roboto;
                font-style: italic;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #403D46;
                display: flex;
                & > * {
                    margin-bottom: 20px;
                    @media(max-width: $mobileSize){
                        margin: 5px 0;
                    }
                }
                &-img{
                    margin-right: 10px;
                    & img{
                        margin-top: 8px;
                    }
                }
            }
        }
        
        &-title{
            font-family: Montserrat;
            font-style: italic;
            font-weight: bold;
            font-size: 48px;
            line-height: 59px;

            color: #403D46;
            @media(max-width: $mobileSize){
                font-size: 24px;
                line-height: 29px;
                
            }
        }
        &-subtitle{
            font-family: Roboto;
            font-style: italic;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: $colorBlack;
            margin: 30px 0 37px 0;
            @media(max-width: $mobileSize){
                font-size: 14px;
                line-height: 16px;
                margin: 0;
            }
        }
        & .carts{
            position: absolute;
            top: -60px;
            right: -83px;
            @media(max-width: $mobileSize){
            }
        }
        &-group{
            display: flex;
            &-left {
                margin-right: 39px;
                width: 254px;
            }
        }
    }

}

.contacts{
    height: 800px;
    padding: 464px 0 50px 0;
    @media(max-width: $mobileSize){
        margin: 150px 0;
    }
    &-content {
        margin-top: 35px;
        & .line2{
            position: absolute;
            right: 76px;
            bottom: 160px;
        }
        
        & a {
            font-family: Roboto;
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $colorPinck;
        }
        
    }


}

.doctor{
    position: absolute;
    top: -25px;
    right: -10px;
    @media(max-width: $mobileSize){
        width: 200px;
        top: 304px;
        right: 129px;
    }
}