.slider {
    margin-bottom: 110px;
    @media(max-width: $mobileSize){
        margin-bottom: 44px;
    }
}

.swiper{
    // &-container {
    //     width: 100%;
    //     height: 386px;
    //     @media(max-width: $mobileSize){
    //         height: 260px;
    //     }
    // }
    &-slide {
        height: 390px;
        margin-bottom: 35px;
        @media(max-width: $mobileSize){
            height: 243px;
            margin-bottom: 26px;
            overflow: hidden;
        }
    }
}
.swiper-scrollbar {
    background: #E4D7DD;
    border-radius: 1px;
    height: 11px !important;
    &-drag {
        background: #CD949A;
        border-radius: 1px;
    }
}