.subheader {
    height: 730px;
    overflow: hidden;
    @media (max-width: $mobileSize) {
        height: 430px;
    }
    &-wrapper {
        position: absolute;
        width: 100%;
        height: 730px;
        @media (max-width: $mobileSize) {
            margin-top: 73px;
        }
    }
    &-img{
        & img {
            position: absolute;
            top: 0;
            right: 0; 
        }
        & .bord{
            right: 20px; 
        }
        @media (max-width: $mobileSize) {
            & img {
                width: 153px;
            }
            & .bord {
                right: 5px;
                top: -5px
            }
        }
    }
    &-top {
        &-subtitle{
            font-family: Montserrat;
            font-style: italic;
            font-weight: normal;
            font-size: 24px;
            line-height: 75px;
            color: $colorDarck;
        }
        @media (max-width: $mobileSize) {
            &-subtitle{
                font-size: 14px;
                line-height: 17px;
            }
        }
        &-title{
            & h1{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 65px;
            color: $colorBlack;
            }
            @media (max-width: $mobileSize) {
                & h1 {
                    font-size: 28px;
                    line-height: 30px;
                }
            }
        }
        &-text{
            font-style: italic;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            opacity: 0.9;
            color: $colorBlack;
            margin: 40px 0;
            @media (max-width: $mobileSize) {
                font-size: 12px;
                line-height: 14px;
                margin: 20px 0;
            }
        }
        margin-top: 116px;
        @media (max-width: $mobileSize) {
            margin-top: 24px;
        }
        &-button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 254px;
            background: linear-gradient(100.7deg, #E5CB92 28%, #EFDEA8 68.2%, #CEB575 96.91%);
            border-radius: 33px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 75px;
            color: $colorDarck;
            cursor: pointer;
            @media (max-width: $mobileSize) {
                width: 139.45px;
                height: 32.25px;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
            }
            & > * {
                margin-right: 20px;
                @media (max-width: $mobileSize) {
                    margin-right: 5px;
                }
            }
            &-slice1 {
                position: absolute;
                width: 254px;
                height: 60px;
                left: 14px;
                top: 8px;
                background: linear-gradient(100.7deg, #DBC085 28%, #E7D49B 68.2%, #C9AE6A 96.91%);
                border-radius: 33px;
                @media (max-width: $mobileSize) {
                    width: 139.45px;
                    height: 32.25px;
                    top: 3.5px;
                }
            }
            &-slice2 {
                position: absolute;
                width: 231px;
                height: 31px;
                left: 14px;
                top: 48px;
                background: linear-gradient(100.7deg, #B06666 28%, #A46C55 68.2%, #6F4644 96.91%);
                opacity: 0.5;
                filter: blur(20px);
                border-radius: 33px;
                @media (max-width: $mobileSize) {
                    width: 139.45px;
                    height: 32.25px;
                    top: 11px;
                }
            }
        }
        &-start {
            width: 285px;
            height: 70px;
            background:rgba(208, 154, 160, 0.2);;
            border-radius: 33px;
            display: flex;
            align-items: center;
            margin-bottom: 48px;
            @media (max-width: $mobileSize) {
                width: 139px;
                height: 38px;
                margin-top: 10px;
                font-size: 10px;
                line-height: 12px;
                color: $colorBlack;
                opacity: 0.9;
            }
            &-img {
                margin: 0 11px 0 6px;
                @media(max-width: $mobileSize){
                    width: 30px;
                    margin: 0 0 0 6px;
                }
            }
        }
        &-lazuta {
            width: 200px;
            font-style: italic;
            font-size: 14px;
            line-height: 16px;
            color: $colorBlack;
            opacity: 0.6;
            overflow: hidden;
            & img {
                position: absolute;
                bottom: 56px;
                left: 113px;
            }
            @media(max-width: $mobileSize){
                position: absolute;
                top: -9px;
                right: -110px;
                width: 100px;
                font-size: 9px;
                line-height: 11px;
                & img {
                    bottom: 46px;
                    left: 71px;
                }
            }
        }
    }
}





// .description{
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: 137px;
//     @media (max-width: $mobileSize){
//         flex-direction: column-reverse;
//         margin-top: 50px;
//         margin-bottom: 30px;
//     }
//     &-text{
//         margin-top: 132px;
//         @media (max-width: $mobileSize){
//             margin: 0;
//         }
//         // &-p{
//         //     @media (max-width: $mobileSize){
//         //         margin: 20px 38px 20px 20px ;
//         //     }
//         // }
//         &-h3{
//             margin-top: 40px;
//             @media (max-width: $mobileSize){
//                 margin: 20px 0 28.5px 18px;
//             }
//         }
//     }
//     &-img{
//         height: 540px;
//         @media (max-width: $mobileSize){
//             height: auto;
//         }

//     }
//     &-second{
//         display: flex;
//         flex-wrap: wrap;
//         margin-top: 70px;
//         @media(max-width: $mobileSize){
//             margin-top: 30px;
//         }
//         &-text-h3{
//             margin-top: 41px;
//             margin-bottom: 40px;
//             @media(max-width: $mobileSize){
//                 margin: 0;
//             }
//         }
//         &-text-p{
//             @media(max-width: $mobileSize){
//                 margin: 20px 0 0 18px;
//             }
//         }
//         &-img {
//             position: relative;
//             @media(max-width: $mobileSize){
//                 width: 100%;
//                 padding-top: 39px;
//             }
//             img {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 @media(max-width: $mobileSize){
//                     width: 100%;
//                     position: inherit;
//                 }
//             }
//             .img-dscrpt-gel{
//                 position: absolute;
//                 top: -70px;
//                 left: 215px;
//                 @media(max-width: $mobileSize){
//                     width: 100px;
//                     top: 0;
//                     right: 0;
//                     left: auto;
//                 }


//             }
//         }
//     }
// }